body,
html {
  margin: 0;
  padding: 0;
}
.App,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.flex {
  display: flex;
}
.item-center {
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.content-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
